body{
  margin:0;
  padding:0;
  background:black;
  color:white;
  font-family:Arial;
}

.collection-section{
  padding:40px;
  text-align:center;
}

.collection-section h2{
  font-size:50px;
  margin-bottom:40px;
}

.products-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.product-card{
  background:#111;
  border-radius:15px;
  overflow:hidden;
  padding-bottom:20px;
}

.product-card img{
  width:100%;
  height:320px;
  object-fit:cover;
}

.product-card h3{
  font-size:28px;
}

.product-card p{
  color:#00ff66;
  font-size:25px;
  font-weight:bold;
}
